
@import "tailwindcss";
.hero_section {
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.moveWithMouse {
  transition: transform 0.1s ease-out;
}
.spinner-border {
  border-radius: 50%;
  border: 4px solid var(--black);
  border-top-color: var(--blue);
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video-button-sec {
  width: 130px;
  height: 130px;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.video-button-sec .video-circle {
  animation: rotate 12s infinite linear;
  will-change: transform;
  transform-origin: center;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg); /* Slight scale effect */
  }
  100% {
    transform: rotate(360deg);
  }
}
.video-button-sec .video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aboutimgbox {
  position: relative;
  z-index: 0;
}
.aboutimgbox:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #ffffff00, #000000c7);
  z-index: 1;
  pointer-events: none;
}
.aboutimgbox img {
  position: relative;
}

/* banner secton hover buttons css start */
@layer components {
  .banner-btn {
    @apply border border-transparent rounded-4xl md:px-8  px-2 py-0.5 text-sm md:text-2xl  font-bold;
  }
}

/* banner secton hover buttons css end */

